{% extends 'base.html' %}


{% block content %}
<section class="section-content padding-y" style="min-height:84vh">
    
    <!-- LOGIN CARD -->
    <div class="card mx-auto" style="max-width: 380px; margin-top:50px;">
    
      <div class="card-body">
    
        <h4 class="card-title mb-4">Reset Password</h4>
        {% include 'includes/alerts.html' %}
        {% comment %} <form action="{% url 'login' %}" method="POST"> {% endcomment %}
        <!-- ALERTS (static placeholder) -->
        <div class="alert alert-danger" style="display:none;">
            Error message here
        </div>
    
        <form action="{% url 'resetPassword' %}" method="POST">
            {% csrf_token %}
          <div class="form-group">
            <input type="password" class="form-control" placeholder="Create Password" name="password">
          </div>
    
          <div class="form-group">
            <input type="password" class="form-control" placeholder=" Confirm Password" name="confirm_password">
          </div>
    
    
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">
              Reset
            </button>
          </div>
    
        </form>
    
      </div>
    </div>
    
    <p class="text-center mt-4">
        Don't have an account? <a href="{% url 'register' %}">Sign up</a>
    </p>
    
    <!-- ============================ LOGIN COMPONENT END ================================= -->
    </section>

{% endblock %}